<div class="row">
    <h1 class="titulo">Experiencia laboral</h1>
    <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li><h1>Profesora de lengua y literatura</h1> - <h3>(years)</h3></li>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, id dolore possimus porro officiis blanditiis et laborum. Sapiente aut molestiae earum optio
                        excepturi voluptate, numquam aliquid similique ullam commodi unde.
                    </p>
            </ul>
            <ul>
                <li><h1>Profesora de informática</h1> - <h3>(years)</h3></li>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, id dolore possimus porro officiis blanditiis et laborum. Sapiente aut molestiae earum optio
                        excepturi voluptate, numquam aliquid similique ullam commodi unde.
                    </p>
            </ul>
            <ul>
                <li><h1>Profesora de lengua y literatura</h1> - <h3>(years)</h3></li>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, id dolore possimus porro officiis blanditiis et laborum. Sapiente aut molestiae earum optio
                        excepturi voluptate, numquam aliquid similique ullam commodi unde.
                    </p>
            </ul>
            <ul>
                <li><h1>Moza</h1> - <h3>(years)</h3></li>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, id dolore possimus porro officiis blanditiis et laborum. Sapiente aut molestiae earum optio
                        excepturi voluptate, numquam aliquid similique ullam commodi unde.
                    </p>
            </ul>
        </div>
</div>

