<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoap.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="mailto:soniapachecomza.gmail.com" target="_blank"><img src="../../../assets/gmail.png" id="email" /></a>
            <a href="https://www.instagram.com/soni.a2011/ " target="_blank"><img src="../../../assets/instagram.png" id="instagram" /></a>
            <a href="https://www.linkedin.com/in/sonia-beatriz-pacheco" target="_blank"><img src="../../../assets/linkedin.png" id="linkedin" /></a>
            <a href="https://github.com/soniapachecomza" target="_blank"><img src="../../../assets/logotipo-de-github.png" id="github" /></a>
            <button type="button" class="btn btn-light">INGRESO</button>
        </div>
    </div>
</div>
