<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/avatar.jpg" alt="" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sonia Pacheco</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="titulo">Acerca de mi</h1>
                <p>Estoy super motivada a aprender cada día más, sobre
                 este hermoso mundo de las IT, siempre dispuesta a aprender
                 nuevas tecnologias.</p>
                 
                <p>En busca de mi primer trabajo que me brinde 
                 la oportunidad de crecer y mejorar mis habilidades.</p>
        </span>
    </div>
</div>

