.row{
    background:#ab6ccf;
}
footer{
    color: rgb(248, 242, 242);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 2px #999999;
}