<div class="row">
    <h1 class="titulo">Hard & Soft skills</h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            
            <circle-progress
                [percent]="95"
                [radius]="100"
                [showUnits]="false"
                [title]="'HTML'"
                [titleFontSize]="'1.2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF00CC'"
                [innerStrokeColor]="'#FF99CC'"
                [animation]="true"
                [animationDuration]="600"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            
            <circle-progress
                [percent]="45"
                [radius]="100"
                [showUnits]="false"
                [title]="'Javascript'"
                [titleFontSize]="'1.2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF00CC'"
                [innerStrokeColor]="'#FF99CC'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            
            <circle-progress
                [percent]="45"
                [radius]="100"
                [showUnits]="false"
                [title]="'Python'"
                [titleFontSize]="'1.2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF00CC'"
                [innerStrokeColor]="'#FF99CC'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            
            <circle-progress
                [percent]="60"
                [radius]="100"
                [showUnits]="false"
                [title]="'Java'"
                [titleFontSize]="'1.2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF00CC'"
                [innerStrokeColor]="'#FF99CC'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            
            <circle-progress
                [percent]="50"
                [radius]="100"
                [showUnits]="false"
                [title]="'Angular'"
                [titleFontSize]="'1.2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF00CC'"
                [innerStrokeColor]="'#FF99CC'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            
            <circle-progress
                [percent]="45"
                [radius]="100"
                [showUnits]="false"
                [title]="'Git'"
                [titleFontSize]="'1.2em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FF00CC'"
                [innerStrokeColor]="'#FF99CC'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
            ></circle-progress>
        </div>
</div>
